<%- include('../../shared/includes/head', {pageTitle:'All products'}) %>
<link rel="stylesheet" href="/styles/products-shop.css">
<script type="module" src = "/scripts/sort-products.js" defer ></script>
</head>
<body>
    <%- include('../../shared/includes/header') %>
   <main>

<h1 >All Products</h1>
<form  class = "product-form">


   <label for="type" class="form-label">Sort By Type</label>
   <select id = "type"  name="type">
      

  
      <option value = "">Select a type</option>
      <option value = "Nootropics" >Nootropics</option>
      <option value = "Fatburners">Fatburners</option>
      <option value = "JointSupport">JointSupport</option> 
      <option value = "Peptides">Peptides</option>
      <option value = "Prohormones">Prohormones</option>
      <option Value = "WellBeing">WellBeing</option>
    
   </select>
<button class = "sort-products-btn" >Sort Products</button>


<ul id="product-grid">
<% products.forEach(product => { %>
   <% if( product.type === 'Fatburners') { %>
      <ul id="product-grid">

    
         <li>
            <%- include('../../shared/includes/product-item', {product:product}) %>
         </li>
       
   
   </ul> 

 <% } %>

<%  if ( product.type === 'JointSupport'){ %>
    <ul id="product-grid">

    
        <li>
           <%- include('../../shared/includes/product-item', {product:product}) %>
        </li>
      
  
  </ul> 



 <%}%>


 <% if( product.type === 'Nootropics') { %>
   <ul id="product-grid">

 
      <li>
         <%- include('../../shared/includes/product-item', {product:product}) %>
      </li>
    

</ul> 

<% } %>


<% if( product.type === 'Peptides') { %>
   <ul id="product-grid">

 
      <li>
         <%- include('../../shared/includes/product-item', {product:product}) %>
      </li>
    

</ul> 

<% } %>

<% if( product.type === 'Prohormones') { %>
   <ul id="product-grid">

 
      <li>
         <%- include('../../shared/includes/product-item', {product:product}) %>
      </li>
    

</ul> 

<% } %>
<% if( product.type === 'WellBeing') { %>
   <ul id="product-grid">

 
      <li>
         <%- include('../../shared/includes/product-item', {product:product}) %>
      </li>
    

</ul> 

<% } %>

 <%})%>
</ul>
   


  


</form>
   </main>
    <%- include('../../shared/includes/footer' ) %>